.loginContainer {
    height: 100vh;
    width: 100%;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    height: 350px;
    width: 40%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 30px 20px rgb(2, 50, 127);
}

input {
    /* width: 100%; */
    padding: 8px;
    width: 85%;
    margin: 10px;
    border: none;
    box-shadow: 1px 1px 10px 2px rgb(116, 115, 115);
    border-radius: 10px;
    font-size: 15px;
    margin-left: 25px;
}

button {
    width: 40%;
    padding: 5px;
    margin-left: 32px;
    border: none;
    box-shadow: 1px 1px 10px 2px rgb(85, 84, 84);
    border-radius: 10px;
}

.blue {
    background-color: rgb(95, 44, 247);
}

.blue:hover {
    background-color: rgb(4, 21, 253);
    color: white;
    box-shadow: 1px 1px 10px 2px rgb(1, 72, 250);
}

.green {
    margin-left: 49%;
    background-color: rgb(139, 228, 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.green:hover {
    background-color: green;
    color: white;
    box-shadow: 1px 1px 10px 2px rgb(2, 241, 81);
}


.blogname {
    display: flex;
    margin-left: 30%;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;

}

.profileImg {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    margin-left: 38%;

}

@media screen and (max-width: 700px) {
    .loginbox {
        width: 70%;
        height: 50%;
    }

    .btn {
        display: flex;
        flex-direction: row;
    }

    button {
        margin-left: 16px;
    }

    h1 {
        font-size: 15px;
    }

    input {
        margin-left: 10px;
    }

    .profileImg {
        margin-left: 40%;
    }

}